@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
  --bg-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bd-font-sans-serif:'Open Sans', sans-serif;
  --bd-light: #F4F6F8;
  --bd-dark: #040F28;
  --primary: #F4C543;
  --light: #F4F6F8;
  --dark: #040F28;
  --gray:#666262;
}
*,*::before,*::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
    margin: 0;
    font-size: clamp(1rem,2.2vh,1.5rem);
    font-weight: 400;
    line-height: 1.5;
    font-family: var(--bd-font-sans-serif);
    background-color: #fff;
    background-color: white;
}
.yellow-text{
    color: var(--primary);
}
img{
  display: block;
}
.header-logo{
    display:flex;
    align-items: center;
    gap:2rem;
}
.header-logo h1{
    font-size: 1.5rem;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.header-logo h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: black; 
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.header-logo h1:hover::after {
  transform: scaleX(1);
}
.header-contact{
    display: flex;
    align-items: center;
    gap: 3rem; 
}
.header-contact-info h2{
    font-size: 1.2rem;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.header-contact-info h2::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--primary); 
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}
.header-contact-info h2:hover::after{
   transform: scaleX(1);
}
.header-contact-info h2:hover{
    color:var(--primary);
}
.header-contact-info p{
    font-size: 0.8rem;
    color: var(--gray);
}
.header-contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-info{
    transition: transform 0.3s ease, opacity 0.3s ease;
  will-change: transform, opacity;
}
.header-logo-link{
    text-decoration: none;
    color:black;
}
.header-info.hide {
     transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}
.get-a-quote{
    text-decoration: none;
    color: black;
    background-color: var(--primary);
    padding: 0.9rem 2rem 0.9rem 2rem;
    font-weight: 600;
    font-size: 1rem;
}
.get-a-quote:hover{
    background-color: hsla(45, 89%, 61%, 0.7);
}
.header-info{
    display: flex;
    justify-content: space-around;
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 2rem;
}
nav ul li a{
    text-decoration: none;
    color: var(--bd-light);
    font-weight: 700;
    font-size: 1.1rem;
}
nav ul li a:hover{
    color: var(--primary);
}
nav{
    background-color: black;
    padding: 1rem;
}
nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
/* Hide hamburger by default */
.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--primary); /* or white, depending on your background */
  cursor: pointer;
  padding: 0.5rem;
  z-index: 1000;
}
.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(/images/hero-bg-image.jpg);
    height: 77.5vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-content{
    padding-top:15rem;
    padding-left: 15rem;
    width:55vw;
}
.hero-content h2{
    font-weight: 900;
    color: var(--light);
}
.hero-content .build-h2{
    font-size: 4rem;
}
.hero-content p{
    color: var(--bd-light);
}
.hero-content .service-button{
    text-decoration: none;
    color: black;
    background-color: var(--primary);
    padding: 0.9rem 2rem 0.9rem 2rem;
    font-weight: 600;
    font-size: 1rem;
    display: block;
    width: 170px;
    text-align: center;
}
.hero-content .service-button:hover{
    background-color: hsla(45, 89%, 71%, 0.9);
} 
.hero-content .project-button{
    text-decoration: none;
    color: black;
    background-color: transparent;
    padding: 0.9rem 2rem 0.9rem 2rem;
    font-weight: 600;
    font-size: 1rem;
    display: block;
    width: 170px;
    text-align: center;
    border: 1px solid var(--light);
    color: var(--light);
}
.hero-content .project-button:hover{
    border-color: var(--primary);
    background-color: hsla(45, 89%, 71%, 0.9);
    color: black;
}
.hero-content .hero-buttons{
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
}
.services-wrapper{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
}
.services-container{
    width: 450px;
    background-color: var(--bd-light);
    box-shadow: 0 6px 30px 7px rgba(33, 37, 71, .102);
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align:left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.services-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 40px 10px rgba(33, 37, 71, 0.15); 
}
.services-container p{
    font-size: 1.1rem;
    color: var(--gray);
}
.services-container a{
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
}
.first-container-h3{
    position: relative;
    display: inline-block;
    
}
.first-container-h3::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 77%;
    background-color: var(--primary); 
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.first-container-h3:hover::after{
  transform: scaleX(1);
}
.second-container-h3{
    position: relative;
    display: inline-block;
    
}
.second-container-h3::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 62%;
    background-color: var(--primary); 
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.second-container-h3:hover::after{
  transform: scaleX(1);
}
.third-container-h3{
    position: relative;
    display: inline-block;
    
}
.third-container-h3::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 62%;
    background-color: var(--primary); 
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.third-container-h3:hover::after{
  transform: scaleX(1);
}
.explore-button{
    text-decoration: none;
    color: black;
    background-color: var(--primary);
    padding: 0.9rem 2rem 0.9rem 2rem;
    font-weight: 600;
    font-size: 1rem;
    display: block;
    width: 10%;
    margin: 50px auto;
}
.explore-button:hover{
    background-color: hsla(45, 89%, 61%, 0.7);
}

.checklist{
    list-style-type: none;
}
.checklist li {
  position: relative;
  padding-left: 1em;
  margin-bottom: 0.5em;
  color: var(--gray);
  
}

/* Add checkmark before each li */
.checklist li::before {
  content: "✔"; /* Unicode checkmark */
  position: absolute;
  left: 0;
  top: 0;
  color: var(--primary); /* Your custom color */
  font-weight: bold;
  font-size: 1rem;
}
.about-list{
    display:flex;
    gap:100px;
   
}
.about .about-image{
    width:50%;
    height: auto;
}
.about-content .about-h3{
    font-size: 2.5rem;
}
.about-content p {
    color: var(--gray);
}
.about-content .details-button{
    text-decoration: none;
    color: black;
    background-color: var(--primary);
    padding: 0.9rem 2rem 0.9rem 2rem;
    font-weight: 600;
    font-size: 1rem;
    display: block;
    width: 25%;
}
.about-content .details-button:hover{
    background-color: hsla(45, 89%, 61%, 0.7);
}
.about-content{
    display:flex;
    flex-direction: column;
    gap:1rem;
}
.about-wrapper{
    display:flex;
    align-items: center;
    gap: 3rem;
    width:80vw;
    justify-content: center;
    margin: 0 auto;
    
}
.about{
    background-color: #f7f6fa;
    padding: 7rem;
    margin-top: 7rem;
}
.project-one{
   width: 290%;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-one:hover {
  transform: translateY(-10px); 
}
.project-one img{
    width: 100%;
    height: auto;
}
.project-one figcaption{
    background-color: var(--bd-light);
    box-shadow: 0 12px 40px 10px rgba(33, 37, 71, 0.15); 
    padding: 1.5rem;
}
.project-one figcaption h3{
    position: relative;
    display: inline-block;
}
.project-one figcaption h3::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--primary); 
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}
.project-one figcaption h3:hover::after{
    transform: scaleX(1);
}
.projects figure{
    width: calc(50% - 20px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.projects figure:hover{
    transform: translateY(-10px); 
}
.projects figure img{
    width:100%;
    height:auto;
}
.projects figure figcaption{
    background-color: var(--bd-light);
    box-shadow: 0 12px 40px 10px rgba(33, 37, 71, 0.15); 
    padding: 1rem;
}
.projects figure figcaption h3{
    font-size: 1.2rem;
    position: relative;
    display: inline-block;
}
.projects figure figcaption h3::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--primary); 
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}
.projects figure figcaption h3:hover::after{
     transform: scaleX(1);
}
.projects{
   display: flex;
   flex-wrap: wrap;
   gap:25px;
}
.project-section-wrapper{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 2rem 10rem 2rem 10rem;
}
.project-section h3{
    text-align: center;
    
}
.project-section .first-h3{
    color: var(--primary);
}
.project-section .second-h3{
    font-size: 3rem;
    font-weight: 800;
}
.view-more-button{
    text-decoration: none;
    color: black;
    background-color: var(--primary);
    padding: 0.9rem 2rem 0.9rem 2rem;
    font-weight: 600;
    font-size: 1rem;
    display: block;
    width: 12%;
    margin: 50px auto;
}
.view-more-button:hover{
    background-color: hsla(45, 89%, 61%, 0.7);
}
.project-section{
    margin-top: 10rem;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  border: none;
}
.visuals{
    
    margin-top: 10rem;
}
.news-view-more-button{
    text-decoration: none;
    color: black;
    background-color: var(--primary);
    padding: 0.9rem 2rem 0.9rem 2rem;
    font-weight: 600;
    font-size: 1rem;
    display: block;
    width: 10%;
    cursor: pointer;
}
.news-view-more-button:hover{
    background-color: hsla(45, 89%, 61%, 0.7);
    cursor: pointer;
}
.news-h3{
    color:var(--primary)
}
.publication-h3{
    font-size: 4rem;
    font-weight: 800;
}
.news-heading{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.news-link-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(/images/construction-site-news.jpg);
    height: 400px;
    width: 1000px;
    background-size: cover;
    background-position: center;
}
.date{
    display:flex;
    align-items: center;
    gap:0.4rem;
    color:var(--light);
    font-size: 1rem;
}
.news-1-content{
    color:var(--light);
    padding: 13.5rem 1rem 0rem 1rem ;
}
.news-1-content h4{
    position: relative;
    display: inline-block;
}
.news-1-content h4::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--primary); 
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}
.news-1-content h4:hover::after{
     transform: scaleX(1);
}
.news-link-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(/images/tractor-news.jpg);
    height: 400px;
    width: 1000px;
    background-size: cover;
    background-position: center;
}
.date{
    display:flex;
    align-items: center;
    gap:0.4rem;
    color:var(--light);
    font-size: 1rem;
}
.news-2-content{
    color:var(--light);
    padding: 13.5rem 1rem 0rem 1rem ;
}

.news-2-content h4{
    position: relative;
    display: inline-block;
}
.news-2-content h4::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--primary); 
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}
.news-2-content h4:hover::after{
     transform: scaleX(1);
}
.news-link-3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(/images/office-building.jpg);
    height: 400px;
    width: 1000px;
    background-size: cover;
    background-position: center;
}
.date{
    display:flex;
    align-items: center;
    gap:0.4rem;
    color:var(--light);
    font-size: 1rem;
}
.news-3-content{
    color:var(--light);
    padding: 15.5rem 1rem 0rem 1rem ;
}

.news-3-content h4{
    position: relative;
    display: inline-block;
}
.news-3-content h4::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--primary); 
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}
.news-3-content h4:hover::after{
     transform: scaleX(1);
}
.news-link-4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(/images/graph.jpg);
    height: 400px;
    width: 1000px;
    background-size: cover;
    background-position: center;
}
.date{
    display:flex;
    align-items: center;
    gap:0.4rem;
    color:var(--light);
    font-size: 1rem;
}
.news-4-content{
    color:var(--light);
    padding: 13.5rem 1rem 0rem 1rem ;
}

.news-4-content h4{
    position: relative;
    display: inline-block;
}
.news-4-content h4::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--primary); 
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}
.news-4-content h4:hover::after{
     transform: scaleX(1);
}

.news-wrapper{
    display:flex;
    margin-top: 5rem;
    gap:2rem;
    width: 100%;
}
.news{
    background-color: whitesmoke;
    padding: 7rem;
    margin-top: -10rem;
}
.contact-details{
    display:flex;
    align-items: center;
    gap:1rem;
    margin-top: 1.5rem;
   color: #888888;
}
.quick-links{
    color: var(--gray);
}
.quick-links img{
    display:inline;
    margin-right: 0.5rem;
}
.quick-links ul li{
    list-style-type: none;
    margin-top: 1rem;
}
.quick-links ul li a{
    text-decoration: none;
    color: #888888;
}
.know-more-button{
    text-decoration: none;
    color: black;
    background-color: var(--primary);
    padding: 0.9rem 2rem 0.9rem 2rem;
    font-weight: 600;
    font-size: 1rem;
    display: block;
    width: 35%;
    margin-top: 1rem;
    
}
.know-more-button:hover{
    background-color: hsla(45, 89%, 61%, 0.7);
}
.brief p{
    margin-top: 1rem;
}

.brief{
    color: #888888;
}
.footer-details h4{
    color: var(--light);
    font-size: 1.7rem;
}
.footer-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 40px 20px;
  color: #333;
  flex-wrap: wrap;
}

.footer-details > div {
  flex: 1 1 30%; /* grow, shrink, basis */
  min-width: 250px; /* ensures wrap on smaller screens */
}
.social-icons{
    display:flex;
    gap: 1rem;
   
}
.copyright-and-socials{
    display:flex;
    justify-content: space-between;
    color: var(--light);
    align-items: center;
    padding: 1.3rem;
}
footer hr{
    border: 1px solid #423f3f;
    width:200%;
    margin-left: -10rem;
}
.upward-icon {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1000;
  display: none; /* hidden by default */
}

.upward-icon img {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.upward-icon img:hover {
  transform: scale(1.1);
}

footer{
    background-color: black;
    padding: 2rem 10rem 0rem 10rem;
}




 @media (max-width: 480px) {
  
    header,main,footer{
        width:100%;
    }
    
  .hero{
    width: 100%;
  }
  .header-logo h1{
    text-align: center;
  }
  .header-info{
    margin-right:0.5rem;
  }
    .hamburger {
    display: block;
    position: absolute;
    top: 0;
    left: 1rem;
    z-index: 1001;
    color: var(--primary);
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
  }

  nav {
    position: relative;
    padding: 2rem;
    width: 100%;
  }

  nav ul {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--bd-light);
    width: 100%;
    display: none;
    text-align: center;
    padding: 1rem 0;
    z-index: 1000;
    min-height: 50vh;
    border: 1px solid black;
  }

  nav ul.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav ul li {
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: -1.5rem;
  }

  nav ul li:last-child {
    border-bottom: none;
  }

  nav ul li a {
    color: black;
    margin: 1rem 0;
    display: block;
    width: 100%;
    font-size: 1rem;
    
  }

  .header-info {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  .header-logo {
    flex-direction: column;
    gap: 1rem;
  }

  .header-contact {
    flex-direction: column;
    gap: 1rem;
  }

  .hero-content {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 5rem;
    width: 100%;
    text-align: center;
  }
.hero-content h2{
  font-size: 1.2rem;
}
  .hero-content .build-h2 {
    font-size: 1.7rem;
  }
  

  .hero-content .hero-buttons {
    margin-top: 0.5rem;
    flex-direction: column;
    align-items: center;
    
  }

  .services-wrapper {
    flex-direction: column;
    align-items: center;
  }
.explore-button{
    width: 45%;
}
  .about-wrapper {
    flex-direction: column;
    margin-left: -4.5rem;
  }
.about-h3{
    font-size: 1.5rem;
}
  .about .about-image {
    width: 100%;
  }

  .about-content .details-button {
    width: 100%;
    text-align: center;
  }

  .project-section-wrapper {
    flex-direction: column;
    margin: 2rem 1rem;
  }

  .project-one {
    width: 100%;
  }
  .project-section .second-h3{
    font-size: 2rem;
  }

  .projects {
    flex-direction: column;
    gap: 2rem;
  }
  .projects figure{
    width: 100%;
  }

  .view-more-button {
    width: 57%;
  }

  .news-heading {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .news-heading .publication-h3{
    font-size: 2rem;
  }
.news .news-view-more-button{
    width: 100%;
}
  .news-wrapper {
    flex-direction: column;
    gap: 2rem;

    
  }




  .news-link-1,
  .news-link-2,
  .news-link-3,
  .news-link-4 {
    width: 100%;
    height: 300px; /* reduced height for mobile usability */
    background-size: cover;
    background-position: center;
  }

  .news-1-content,
  .news-2-content,
  .news-3-content,
  .news-4-content {
    padding: 12rem 1rem 0 1rem; /* reduce top padding for visibility */
  }

  .news h4 {
    font-size: 1rem;
  }

  .news-wrapper .date {
    font-size: 0.8rem;
  }

  .news {
    padding: 3rem 1rem; /* reduce padding for mobile layout */
  }

  .news-heading {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .news-view-more-button {
    width: 100%;
    text-align: center;
  }

 
.news{
    width: 100%;
}
 

  .footer-details {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
  }

  .know-more-button {
    width: 100%;
    text-align: center;
  }

  .copyright-and-socials {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
  .upward-icon{
    right: 3rem;
  }

  footer {
    padding: 1rem;
   
  }

  footer hr {
    width: 100%;
    margin-left: 0;
  }
}




@media (max-width: 932px) and (orientation: landscape) {
  
  header, main, footer {
    width: 100%;
  }

  .hero {
    width: 100%;
    padding: 2rem;
  }

  .header-logo h1 {
    text-align: center;
  }

  .header-info {
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    gap: 2rem;
    align-items: center;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    z-index: 1001;
    color: var(--primary);
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
  }

  nav {
    position: relative;
    padding: 2rem;
    width: 100%;
  }

  nav ul {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--bd-light);
    width: 100%;
    display: none;
    text-align: center;
    padding: 1rem 0;
    z-index: 1000;
    min-height: 40vh;
    border: 1px solid black;
  }

  nav ul.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav ul li {
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: 0rem;
    
  }

  nav ul li:last-child {
    border-bottom: none;
  }

  nav ul li a {
    font-size: 1.1rem;
    padding: 0.5rem 0;
    color: black;
    
  }

  .hero-content {
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    
  }

  .hero-content .build-h2 {
    font-size: 1.7rem;
  }

  .hero-content .hero-buttons {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .services-wrapper,
  .about-wrapper,
  .projects,
  .news-wrapper,
  .footer-details,
  .copyright-and-socials {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .explore-button,
  .view-more-button,
  .know-more-button,
  .news-view-more-button,
  .details-button 
  {
    width: 50%;
    text-align: center;
  }
.about-wrapper .details-button{
    width: 40%;
}
  .about 
  .projects figure,
  .news-link-1,
  .news-link-2,
  .news-link-3,
  .news-link-4 {
    width: 45%;
  }
  .about .about-image{
    width: 100%;
  }
  .about{
    width: 100%;
    margin-left: -3rem;
  }

  .project-section-wrapper {
    flex-direction: column;
    gap: 2rem;
    margin: 2rem;
  }
  .projects{
    flex-direction: column;
  }

  .project-one{
    width: 100%;
  }
  .projects figure{
    width: 100%;
  }
   .news-heading {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .news-heading .publication-h3{
    font-size: 2rem;
  }
.news .news-view-more-button{
    width: 100%;
}
  .news-wrapper {
    flex-direction: column;
    gap: 2rem;

    
  }




  .news-link-1,
  .news-link-2,
  .news-link-3,
  .news-link-4 {
    width: 100%;
    height: 300px; /* reduced height for mobile usability */
    background-size: cover;
    background-position: center;
  }

  .news-1-content,
  .news-2-content,
  .news-3-content,
  .news-4-content {
    padding: 12rem 1rem 0 1rem; /* reduce top padding for visibility */
  }

  .news h4 {
    font-size: 1rem;
  }

  .news-wrapper .date {
    font-size: 0.8rem;
  }

  .news {
    padding: 3rem 1rem; /* reduce padding for mobile layout */
  }

  .news-heading {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .news-view-more-button {
    width: 100%;
    text-align: center;
  }

 
.news{
    width: 100%;
}
.footer-details{
    flex-direction: column;
}

  .upward-icon {
    right: 2rem;
  }

  footer {
    padding: 2rem;
  }

  footer hr {
    margin-left: auto;
    margin-right: auto;
  }

}

@media (min-width: 600px) and (max-width: 1366px) and (orientation: portrait) {
  header, main, footer {
    width: 100%;
  }

  .hero {
    width: 100%;
  }

  .header-logo h1 {
    text-align: center;
  }

  .header-info {
    margin-right: 2rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  .header-logo,
  .header-contact {
    flex-direction: column;
    gap: 1rem;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 0;
    left: 1rem;
    z-index: 1001;
    color: var(--primary);
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
  }

  nav {
    position: relative;
    padding: 2rem;
    width: 100%;
  }

  nav ul {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--bd-light);
    width: 100%;
    display: none;
    text-align: center;
    padding: 1rem 0;
    z-index: 1000;
    min-height: 50vh;
    border: 1px solid black;
  }

  nav ul.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav ul li {
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: -1.5rem;
  }

  nav ul li:last-child {
    border-bottom: none;
  }

  nav ul li a {
    color: black;
    margin: 1rem 0;
    display: block;
    width: 100%;
    font-size: 1.3rem;
    padding: 0.4rem 0;
  }

  .hero-content {
    padding: 25rem 5rem 1rem 1rem;
    width: 100%;
    text-align: center;
  }

  .hero-content .build-h2 {
    font-size: 2rem;
  }

  .hero-content .hero-buttons {
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .services-wrapper,
  .about-wrapper,
  .project-section-wrapper,
  .projects,
  .news-wrapper,
  .footer-details {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
  }
  .services-container{
    width: 80%;
    margin-left: -4rem;
  }

  
  .view-more-button,
  .news-view-more-button,
  .know-more-button 
  {
    width:27%;
  }
.explore-button{
    width: 23%;
}
.about .about-wrapper .details-button{
    width: 27%;
}
  .about-h3 {
    font-size: 1.8rem;
  }

  .about .about-image {
    width: 100%;
  }

  .about-content .details-button {
    width: 100%;
    text-align: center;
  }
.about{
    margin-left: -4rem;
}
    .project-section-wrapper {
    flex-direction: column;
    gap: 2rem;
    margin: 2rem;
  }
  .projects{
    flex-direction: column;
    width: 100%;
  }

  .project-one{
    width: 100%;
  }
  .projects figure{
    width: 100%;
  }
  .project-section .second-h3{
    font-size: 1.8rem;
    
  }
 
  .news-heading {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .news-heading .publication-h3 {
    font-size: 2rem;
  }

  .news-link-1,
  .news-link-2,
  .news-link-3,
  .news-link-4 {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    
  }
  .news-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .news h4 {
    font-size: 1rem;
  }
.news-3-content
  .news-wrapper .date {
    font-size: 0.8rem;
  }

  .news {
    padding: 3rem 1rem;
    width: 100%;
  }

  .copyright-and-socials {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
  .footer-details .quick-links{
    margin-right:22rem;
  }
.footer-details{
    display: flex;
    flex-direction: column;
    padding: 1rem 4rem 1rem 4rem;
}
  footer {
    padding: 2rem;
  }

  footer hr {
    width: 100%;
    margin-left: 0;
  }

  .upward-icon {
    right: 1rem;
  }
}



@media (min-width: 768px) and (max-width: 1366px) and (orientation: landscape) {
  header, main, footer {
    width: 100%;
  }

  .hero {
    width: 100%;
  }

  .header-logo h1 {
    text-align: left;
  }

  .header-info {
    margin-right: 4rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem 3rem;
  }

  .header-logo,
  .header-contact {
    flex-direction: row;
    gap: 2rem;
  }

  .header-contact .header-contact-info {
    align-items: center;
    width: 100%;
  }

  .header-contact .get-a-quote {
    width: 180%;
    padding: 1rem;
    display: block;
  }

  /* Removed hamburger */
  .hamburger {
    display: none;
  }

  nav {
    position: relative;
    padding: 2rem;
    width: 100%;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: static;
    background-color: transparent;
    width: auto;
    min-height: auto;
    padding: 0;
    border: none;
    gap: 2rem;
  }

  nav ul li {
    border-bottom: none;
    width: auto;
    margin: 0;
    text-align: left;
  }

  nav ul li a {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    color: black;
    text-decoration: none;
  }

  .hero-content {
    padding: 8rem 4rem 2rem 4rem;
    width: 100%;
    text-align: left;
  }

  .hero-content .build-h2 {
    font-size: 2.2rem;
  }

  .hero-content .hero-buttons {
    margin-top: 1.5rem;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .services-wrapper,
  .about-wrapper,
  .project-section-wrapper,
  .projects,
  .news-wrapper,
  .footer-details {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    gap: 2rem;
  }

  .services-container {
    width: 45%;
    margin-left: 0;
  }

  .view-more-button,
  .news-view-more-button,
  .know-more-button {
    width: 23%;
    text-align: center;
  }

  .explore-button {
    width: 18%;
  }

  .about .about-wrapper .details-button {
    width: 22%;
  }

  .about-h3 {
    font-size: 2rem;
  }

  .about .about-image {
    width: 45%;
  }

  .about-content .details-button {
    width: auto;
    text-align: left;
  }

  .about {
    margin-left: 0;
  }

  .project-section-wrapper {
    gap: 2rem;
    margin: 2rem 4rem;
  }

  .projects {
    flex-direction: row;
    width: 100%;
    gap: 2rem;
  }

  .project-one,
  .projects figure {
    width: 45%;
  }

  .project-section .second-h3 {
    font-size: 2rem;
  }

  .news-heading {
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    gap: 2rem;
  }

  .news-heading .publication-h3 {
    font-size: 2.2rem;
  }

  .news-link-1,
  .news-link-2,
  .news-link-3,
  .news-link-4 {
    width: 45%;
    height: 250px;
    background-size: cover;
    background-position: center;
  }

  .news h4 {
    font-size: 1.1rem;
  }

  .news-1-content {
    padding: 10rem 1rem 1rem 1rem;
  }

  .news-2-content {
    padding: 8.5rem 1rem 1rem 1rem;
  }

  .news-3-content {
    padding: 10rem 1rem 1rem 1rem;
  }

  .news-4-content {
    padding: 8.5rem 1rem 1rem 1rem;
  }

  .news-wrapper .date {
    font-size: 0.9rem;
  }

  .news {
    padding: 2rem 4rem;
    width: 100%;
  }

  .copyright-and-socials {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    text-align: left;
  }

  .footer-details .quick-links {
    margin-left: 0;
  }

  .footer-details {
    display: flex;
    gap:5rem;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;

  }

  footer {
    padding: 2rem 4rem;
  }

  footer hr {
    width: 100%;
    margin-left: 0;
  }

  .upward-icon {
    right: 2rem;
  }
}





